@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.jpg);
  background-color: #121214;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  margin-top: 32px;
}

header > div {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 100%;
  background-image: linear-gradient(to left, #e2d45c, #43e7ad, #9572fc);
  transition: transform 0.3s;

  animation: fromTop 0.8s 0.4s backwards;
}

header > div:hover {
  transform: scale(1.1);
}

header img {
  width: 130px;
  padding: 4px;
  border-radius: 100%;
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;
}

main * {
  font-family: "Inter", sans-serif;
  color: #fff;
  line-height: 160%;
}

main section:nth-child(1) {
  animation-delay: 0.8s;
}

main section:nth-child(2) {
  animation-delay: 0.9s;
}

main section:nth-child(3) {
  animation-delay: 1s;
}

section {
  margin: 24px;
  padding-top: 4px;
  background-image: linear-gradient(to left, #e2d45c, #43e7ad, #9572fc);
  border-radius: 12px;

  animation: fromBottom 0.8s 0.8s backwards;
}

section div {
  padding: 20px;
  background-color: #2a2634;
  border-radius: 8px;
}

section p {
  color: #a1a1aa;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

ul li {
  transition: transform 0.3s;
}

ul li:hover {
  transform: scale(1.1);
}

ul img {
  margin-top: 16px;
  margin-right: 16px;
}

.game-list img {
  width: 90px;
  border-radius: 4px;
}

.channel-list img {
  width: 70px;
  border: 4px solid #443e54;
  border-radius: 100%;
}

.social-list img {
  width: 32px;
}

/* animation */

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
